body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f3e6;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo-pantalla-abstracto-humo-color-diseno-fondo-estetico (1).jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center center; /* Centra la imagen */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija la imagen para evitar el movimiento */
}

header {
    background-color: #5b1385;
    text-align: center;
    padding: 1em;
}

.titulo {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Fuente atractiva */
    font-size: 3em; /* Tamaño del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra al texto */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-align: center; /* Centrar el texto */
    background: linear-gradient(90deg, #FFD700, #FFB800); /* Degradado de dorado claro a dorado oscuro */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titulo2 {
    margin: 0;
    color: #fff; /* Blanco */
    font-family: 'Poppins', sans-serif; /* Fuente atractiva */
    font-size: 2rem; /* Tamaño del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra al texto */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-align: center; /* Centrar el texto */
    background: linear-gradient(90deg, #ff69b4, #ff1493); /* Degradado de rosa fuerte a rosa oscuro */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.date {
    font-family: 'Cursive', sans-serif;
    color: #FFD700;/* Verde */
    font-size: 1.2em;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.card {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.letter-container {
    text-align: center;
    margin: 2em;
}


.letter-container h2 {
    color: #ff69b4;
    font-family: 'Cursive', sans-serif;
    background-color: aliceblue;
    
}

.letter-content {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #ff69b4;
    border-radius: 10px;
    padding: 20px;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.letter-content p {
    margin: 10px 0;
}
.letra{
    font-family: 'Amifer', sas-serif;
}
.video-carousel {
    max-width: 600px;
    margin: 0 auto;
}
.video-carousel video {
    width: 100%;
    height: auto;
    display: block;
}
.video-wrapper {
    position: relative;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 20px;
}
.play-button:focus {
    outline: none;
}
.carousel-item {
    text-align: center;
}